/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --fs-header-desctop: 19px;
  --fs-body-desctop: 18px;

  --fs-header-laptop: 14px;
  --fs-body-laptop: 15px;

  --lable-color: #adb5bd;

  --font-family: "Montserrat", sans-serif !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 500;
}

html {
  overflow-x: hidden;
}

body {
  height: 100%;
  min-height: 100vh;
  color: var(--color-text);
  font-family: var(--font-family);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: var(--fs-body-desctop);
  text-rendering: optimizeLegibility;
  /* color: #3a4963; */
}

@media (max-width: 1536px) {
  body {
    font-size: var(--fs-body-laptop);
  }
}