@import './base.css';
@import './primeVueReStyler.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

/* @layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
} */

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

header {
  z-index: 100;
}

.crm-logo {
  width: 60%;
}

.crm-menubar-btn {
  font-size: 20px !important;
}

div::-webkit-scrollbar {
  display: none;
}

.crm-side-bar {
  background-color: #eef2f4;
  border-radius: 16px 0px 0px 16px 
}

.crm-side-bar .p-tabview .p-tabview-nav,
.crm-side-bar .p-tabview .p-tabview-panels,
.crm-side-bar .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: inherit;
}

.sidebar-header-divider {
  margin-bottom: 15px;
}

.sidebar-header-divider::before {
  border: 1px solid #ced4da;
}

